/.idea

/component/docimport.xml
/component/backend/version.php
/component/cli/*.xml

/documentation/*.xml~

release/

# Internal language symlinks
/component/language/*/en-GB
/modules/*/*/language/en-GB
/plugins/*/*/language/en-GB

# Private copy of FEF for auto-completion
fef.min.css